<h1>Welcome to Shivaganda Online</h1>
<div class="jumbotron">
    <h2>For Village Health Team Members</h2>
    <p>
        As a Village Health Team member,
        you can download and install your Android application by scanning the QR code:
    </p>
    <p>
        <img src="https://chart.googleapis.com/chart?chs=116x116&cht=qr&chl=http://build.phonegap.com/apps/625663/install/?qr_key=9fy19MvWknw8yFeypADF&chld=L|1&choe=UTF-8"/>
    </p>
</div>

<div class="jumbotron">
    <h2>For Clinic Physicians</h2>
    <p>
        As a physician in a clinic,
        you can <a href="#/patients">view all registered patients</a>.
    </p>
</div>