<h3>All Registered Patients ({{patients.length}} in total)</h3>
<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="patient in patients" style="cursor: pointer;">
        <td>
            <a href="#/patients/{{patient.id}}">{{patient.id}}</a>
        </td>
        <td>
            <a href="#/patients/{{patient.id}}">{{patient.firstName}} {{patient.lastName}}</a>
        </td>
        <td>{{patient.gender}}</td>
        <td>{{patient.age}}</td>
    </tr>
    </tbody>
</table>