<form name="newPatient" ng-submit="save()" ng-controller='PatientCreateCtrl'>
    <h2>Register A New Patient</h2>

    <div class="form-group">
        <label for='patient-first-name'>First Name</label>
        <input id='patient-first-name' type="text" class="form-control" ng-model="patient.firstName" required/>
    </div>

    <div class="form-group">
        <label for='patient-last-name'>Last Name</label>
        <input id='patient-last-name' type="text" class="form-control" ng-model="patient.lastName" required/>
    </div>

    <div class="form-group">
        <label for='patient-age'>Age</label>
        <input id='patient-age' type="number" class="form-control" ng-model="patient.age" max="129" required/>
    </div>

    <div class="form-group">
        <label>Gender</label>
        <div class="radio">
            <label>
                <input type="radio" ng-model="patient.gender" value="male">Male
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="patient.gender" value="female">Female
            </label>
        </div>
    </div>

    <div class="form-group">
        <label for='patient-height'>Height (cm)</label>
        <input id='patient-height' type="number" class="form-control" ng-model="patient.height" max="240" required/>
    </div>

    <div class="form-group">
        <label for='patient-weight'>Weight (kg)</label>
        <input id='patient-weight' type="number" class="form-control" ng-model="patient.weight" max="300" required/>
    </div>

    <input type="submit" ng-disabled="newPatient.$invalid || patient.gender == undefined" class="btn btn-default"/>
</form>